.container {
  display: grid;
  grid-template-columns: 400px 100px; 
  gap: 10px; 
  align-items: center;
  border-bottom: 1px solid gray; 
  padding: 10px; 
  margin-left:150px;
  margin-right:100px;
  
}
button {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
body {
  font-family:sans-serif;
  max-width: 900px;
  margin:0 auto 0 auto;
  
}
#yay{
  align-items:center;
}
h3 {
  text-align:center;
}
#mainstuff {
  text-wrap:wrap;
  text-align: justify;
}

h1 {
  color:rgb(250,100,50)
}
