.container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center; 
  
}
button {
  padding: 10px;
  margin: 10px;
}
body {
  font-family:additive;
  max-width: 720px;
  margin:0 auto 0 auto;
}
#yay{
  align-items:center;
}
h3 {
  text-align:center;
}