<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>The Dancer's Pit</title>
    <h1>The Dancer's Pit</h1>
   
  </head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <body>
    <img id='yay' src='static/the dancers pit.jpg'> 
     <h3>MIT-WPU's official dance club</h3>
    
    <br>
    Hello there, you'll learn about our club here.
    <p align=center>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis at tellus at urna condimentum mattis. Sapien pellentesque habitant morbi tristique senectus. Eget nullam non nisi est sit amet facilisis magna etiam. Interdum consectetur libero id faucibus nisl tincidunt. Pellentesque elit eget gravida cum sociis natoque penatibus. Congue mauris rhoncus aenean vel. Tristique risus nec feugiat in fermentum posuere urna nec. Vitae nunc sed velit dignissim sodales ut. Mauris rhoncus aenean vel elit scelerisque. Accumsan lacus vel facilisis volutpat est velit egestas dui. Nisl condimentum id venenatis a condimentum vitae. Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Lobortis scelerisque fermentum dui faucibus in ornare quam.
    </p>
    <h2 align='center'>About the Workshops</h2>
    <div class='container' align='center'>
      <p>Urban dance<br>
      timing:7pm-8pm<br>
      </p>
      <button>register</button>
    </div>
    <div class='container', align='center'>
      <p>Bollywood<br>
      timing:maa teri<br>
      </p>
    <button>register</button>      
    </div>
   
  </body>
</html>